/*---------------------------------------- Подключение шрифтов ----------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Unbounded:wght@500;600;700&display=swap");

/*---------------------------------------- Нормирующи стили ----------------------------------------*/

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: none;
      color: #2d2d2d;
      text-decoration: none;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
}
html {
      font-size: 16px;
}
body {
      position: relative;
      background: #f3f3f3;
}
img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}
li {
      display: block;
}
a {
      text-decoration: none;
}

/*---------------------------------------- Типография ----------------------------------------*/

h1 {
      font-family: Unbounded;
      font-size: 3.44rem;
      font-weight: 700;
      text-transform: uppercase;
}

h2 {
      color: #373737;
      font-family: Unbounded;
      font-size: 1.56rem;
}

h3 {
      position: relative;
      padding-left: 15px;
      color: #373737;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
}
h3::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #e30613;
}

.subtitle-1 {
      color: #373737;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
}

.subtitle-2 {
      color: #373737;
      font-family: Unbounded;
      font-size: 1.13rem;
}

.subtitle-3 {
      color: #373737;
      font-size: 1.56rem;
      font-weight: 700;
      text-transform: uppercase;
}

.subtitle-4 {
      color: #373737;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: lowercase;
}

.cuption-1 {
      color: #373737;
      font-size: 0.875rem;
      font-weight: 400;
}
.cuption-2 {
      color: #373737;
      font-family: Unbounded;
      font-size: 0.94rem;
}

/*---------------------------------------- Стили контейнера ----------------------------------------*/
header,
section {
      padding: 0 20px;
}
.container {
      max-width: 1880px;
      padding: 0;
      margin: auto;
}

/*---------------------------------------- Стили полей ввода ----------------------------------------*/

input,
textarea {
      position: relative;
      padding: 14px 10px 14px 20px;
      border: 1px solid #2d2d2d;
      border-radius: 10px;
      background: #fff;
}
input::placeholder,
textarea::placeholder {
      color: #999;
}
input:disabled,
textarea:disabled {
      background: #f0f0f0;
}
input:disabled::placeholder,
textarea:disabled::placeholder {
      color: #fff;
}
input:not(:valid),
textarea:not(:valid) {
      border: #fa626b;
}
input::after,
textarea::after {
      content: "Поле обязательно для заполнения";
      position: absolute;
      left: 0;
      bottom: -5px;
      opacity: 0;

      color: #fa626b;
      font-size: 0.875rem;
      font-weight: 400;
}
input:not(:valid)::after,
textarea:not(:valid)::after {
      opacity: 1;
}

/*---------------------------------------- Стили кнопок ----------------------------------------*/

.btn {
      background: linear-gradient(271deg, #e30815 0%, #ffa7ac 100%);
      background-size: 140%;
      background-position: 70%;

      width: fit-content;
      padding: 12px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 12px;
      transition: 0.5s;

      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
}
.btn__img {
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 5px;
}
.btn__img svg {
      transform: rotate(-45deg);
      transition: 0.5s;
}
.btn:hover,
.btn:hover {
      background-position: 0%;
}
.btn:hover .btn__img svg {
      transform: rotate(0deg);
}
.btn-outline {
      padding: 12px 20px;
      border: 1px solid #e30613;
      border-radius: 12px;
      transition: 0.5s;

      color: #e30613;
      font-family: Unbounded;
      font-size: 1.13rem;
      font-weight: 600;
      text-transform: uppercase;
}

.btn-outline:hover,
.btn-outline:active {
      background: #e30613;
      color: #fff;
}
.btn-outline:disabled,
.btn:disabled {
      background: #f0f0f0;
      border: none;
      color: #fff;
}

/*---------------------------------------- Стили соц сетей ----------------------------------------*/

.social__link {
      width: 54px;
      height: 54px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;

      border-radius: 5px;
      background: #f0f0f0;
      backdrop-filter: blur(10px);
}
.social__link path {
      fill: #e30613;
      transition: 0.5s;
}

.social__link:hover,
.social__link:active {
      background: #e30613;
}
.social__link:hover path,
.social__link:active path {
      fill: #fff;
}
.social__link:disabled path {
      fill: #fff;
}

/*---------------------------------------- Стили кнопкок пагинации ----------------------------------------*/

.controls__left,
.controls__right {
      width: 42px;
      height: 32px;
      padding: 8px 11px;
      border-radius: 5px;
      background: #e30613;
}
.controls__left.disabled,
.controls__right.disabled {
      background: #fa626b;
}

/*---------------------------------------- Стили шапки ----------------------------------------*/

.header-container {
      display: flex;
      align-items: center;
      padding: 14px 280px;
      background: #fff;
      border-radius: 0px 0px 12px 12px;
      backdrop-filter: blur(15px);
}
.header__logo {
      margin-right: 60px;
}
.nav__links {
      display: flex;
      flex-direction: row;
      gap: 36px;
}
.links__link a {
      font-weight: 400;
      text-transform: uppercase;
      transition: 0.5s;
}
.links__link a:hover,
.links__link a:active {
      color: #e30613;
}
.links__link a:disabled {
      color: #f0f0f0;
}
.header__contacts {
      margin-left: auto;
}

/*---------------------------------------- Стили hero ----------------------------------------*/

.hero {
      margin-top: 20px;
}
.hero-container {
      background-image: url("./assets/bg/hero-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 12px;

      height: 830px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
}

/*---------------------------------------- Стили секции наши услуги ----------------------------------------*/

.serives {
      margin-top: 120px;
}
.servies-container {
      max-width: 1320px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
}
.services__description {
      margin-bottom: 20px;
      max-width: 1060px;
}
.services__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
}
.services__item {
      width: 315px;
      height: 182px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      border-radius: 12px;
      background: linear-gradient(237deg, #fb626b 10.3%, #ee3b46 53.61%, #e30613 95.48%);
      overflow: hidden;
}
.services__item:nth-child(3),
.services__item:nth-child(6) {
      padding: 0;
}
.item__icon {
      width: 54px;
      height: 54px;
      padding: 10px;
      border-radius: 5px;
      background: rgba(243, 243, 243, 0.3);
      backdrop-filter: blur(10px);
}
.item__icon img {
      object-fit: contain;
}
.services__item p {
      width: 100%;
      color: #fff;
}